<?xml version="1.0"?>
<config>
    <modules>
        <VR_SalesReport>
            <version>0.1.1</version>
        </VR_SalesReport>
    </modules>
    <global>
        <models>
            <vr_salesreport>
                <class>VR_SalesReport_Model</class>
                <resourceModel>vr_salesreport_resource</resourceModel>
            </vr_salesreport>
            <vr_salesreport_resource>
                <class>VR_SalesReport_Model_Resource</class>
                <entities>
                    <file>
                        <table>vr_salesreport_products</table>
                    </file>
                </entities>
            </vr_salesreport_resource>
        </models>
        <resources>
            <vr_salesreport_setup>
                <setup>
                    <module>VR_SalesReport</module>
                </setup>
            </vr_salesreport_setup>
        </resources>
        <blocks>
            <vr_salesreport>
                <class>VR_SalesReport_Block</class>
            </vr_salesreport>
        </blocks>
        <helpers>
            <vr_salesreport>
                <class>VR_SalesReport_Helper</class>
            </vr_salesreport>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <VR_SalesReport>
                    <files>
                        <default>VR_SalesReport.csv</default>
                    </files>
                </VR_SalesReport>
            </modules>
        </translate>
        <layout>
            <updates>
                <salesreport>
                    <file>vr/salesreport.xml</file>
                </salesreport>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <vr_salesreport before="Mage_Adminhtml">VR_SalesReport_Adminhtml</vr_salesreport>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>